<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the create a player page!</h1>
    <h2>Player Form</h2>
    <form action="http://localhost:3000/players" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position"/>
        <label for="number">Number:</label>
        <input type="text" id="number" name="number"/>

        <button type="submit">Submit</button>
    </form>
    <a href="http://localhost:3000/">Return to main page</a>
    <a href="http://localhost:3000/players">Return to player list</a>
    
</body>
</html>