<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>
    <h1>Welcome to the players page! See below for current list of players selected:</h1>

    <ul>
        <% players.forEach((player) => { %>
        <li>
            <a href="/players/<%= player.id %>">Name: <%= player.name %></a>
            <ul>
                <li>Position: <%= player.position %></li>
                <li>Number: <%= player.number %></li>
            </ul>
        </li>
        <% }) %>
    </ul>

    <a href="/">Return to main page</a><br />
    <a href="/players/new">Add player</a>
    
</body>
</html>