<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>See below details for selected player:</h1>
    <h2>Player Name: <%=player.name%></h2>
    <h3>Player Position: <%=player.position%></h3>
    <h3>Player Number: <%=player.number%></h3>

    <a href="http://localhost:3000/">Return to main page</a>
    <a href="http://localhost:3000/players">Return to player list</a>
    <a href="http://localhost:3000/players/new">Add player</a>
</body>
</html>